body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #102343;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #102343;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 5px 5px 0 0;
}

/* Left section (Logo and Title) */
.logo-title-container {
    display: flex;
    align-items: center;
    flex: 1; /* Ensures logo-title-container takes up appropriate space */
}

.small-logo {
    width: 40px; /* Adjust logo size */
    height: auto;
    margin-right: 10px; /* Space between logo and title */
    vertical-align: middle; /* Aligns the logo vertically with the text */
}

/* Right section (User Info) */
.user-container {
    display: flex;
    justify-content: flex-end; /* Align to the right */
    flex: 1; /* Takes up remaining space on the right */
}

h1 {
    margin: 0;
    font-size: 1.5em; /* Match size with dropdown */
}

header h1 a {
    text-decoration: none;
    color: inherit; /* Use the same color as header text */
}

.profile-container {
    width: calc(100% - 40px); /* Full width minus left and right padding */
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input,
.input-group select {
    width: 100%; /* Full width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding in width calculation */
}

.save-button {
    background-color: #102343;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.save-button:hover {
    background-color: #0056b3;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    cursor: pointer;
    padding: 10px;
    font-size: 1.5em; /* Match font size with h1 */
    font-weight: bold; /* Make text bold */
    color: #102343; /* Text color */
    transition: background 0.3s;
}

.dropdown-toggle:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px; /* Add rounded corners */
    font-weight: bold;
}

.dropdown-content a {
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1; /* Light gray on hover */
}

.dropdown:hover .dropdown-content {
    display: block;
}
